/*全局滚动条样式*/
::-webkit-scrollbar {
    width: 0.4rem;
    height: 0.4rem; /*水平滚动条宽度*/
}

 /* 滚动条滑块(竖向:vertical 横向:horizontal) */
 ::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    border-radius: 0.4rem;
}

 /* 滚动条有滑块的轨道部分 */
 ::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 0.4rem;
  }

  /* 当同时有垂直滚动条和水平滚动条时交汇的部分. */
  ::-webkit-scrollbar-corner{
      background: transparent;
  }
/*全局滚动条样式结束*/